*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
opencv/build/intermediates/local_aar_for_lint/release/out.aar
opencv/build/outputs/**/*.aar
opencv/build/outputs/**/*.apk
opencv/native/3rdparty/libs/**/*.a